.oferta{
    border: 3px solid green;
    background-color: yellowgreen;
}

table{
    background-color: rgb(176, 162, 162);
}

th{
    background-color: rgb(150, 139, 139);
}
td{
    vertical-align: middle;
    
}
